In [8]:
import pandas as pd
import numpy as np

In [2]:
groups = pd.read_csv('groups.csv', encoding='windows-1251')
subjects = pd.read_csv('subjects.csv', encoding='windows-1251')
teachers = pd.read_csv('teachers.csv', delimiter=';', encoding='windows-1251')

In [3]:
schedule = pd.read_csv('schedule.csv', delimiter=';', encoding='windows-1251')

In [4]:
schedule

,subject_id,teacher_id,group_code,lesson_type,Unnamed: 4
0,1.0,10.0,ФА-01,lec,Українська мова за професійним спрямуванням
1,1.0,10.0,ФА-01,prac,NaN
2,3.0,28.0,ФА-01,prac,Фізичне виховання 1
3,5.0,14.0,ФА-01,prac,Іноземна мова 1
4,12.0,NaN,ФА-01,lec,Математичний аналіз 1
...,...,...,...,...,...
514,59.0,NaN,НТ-71,prac,NaN
515,81.0,NaN,НТ-71,prac,Переддипломна практика
516,59.0,NaN,НТ-71,lec,Теорія хаосу
517,59.0,NaN,НЕ-71,prac,NaN
518,82.0,NaN,НЕ-71,prac,Переддипломна практика

In [7]:
teachers[teachers['chair_id'] == 0]['teacher_id']

0      2
1      6
2      7
3     16
4     18
5     19
6     20
7     21
8     22
9     23
10    26
11    29
Name: teacher_id, dtype: int64

In [9]:
for row in schedule:
    print(row)

subject_id
teacher_id
group_code
lesson_type
Unnamed: 4